{
    "presets":[
        "env", "react"
    ],
    "plugins": [
        [
          "react-intl", {
            "messagesDir": "./build/messages",
            "enforceDescriptions": false
          }
        ]
    ]
}
