{
    "presets":[
        "env", "react"
    ],
    "plugins": [
        [
          "react-intl", 
          {
            "messagesDir": "./build/messages",
            "enforceDescriptions": false
          },
          ["transform-object-rest-spread", { "useBuiltIns": true }]
        ]
    ]
}
